// Variables
$website-width: 1280px;
$main-color   : #169ad2;
$light-color  : #f4f4f4;
$medium-color : #ccc;
$dark-color   : #1e272e;
$bg-primary   : #0984e3;
$bg-image     : url('../img/showcase.jpg');

// Set Text Color
@function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return #000;
  }

  @else {
    @return #fff;
  }
}

