@use 'config' as cfg;

@mixin respond-to($breakpoint) {
  @if $breakpoint == medium {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $breakpoint == small {
    @media (max-width: 480px) {
      @content;
    }
  } @else if $breakpoint == extra-small {
    @media (max-width: 330px) {
      @content;
    }
  }
}

// Medium Breakpoint
@include respond-to(medium) {
  #header {
    height: 30rem;
    position: relative;

    .header-content {
      padding-top: 5rem;
    }
  }

  .item-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .item-text-wrap {
    text-align: center;
    max-width: 90%;
  }

  #about {
    .about-info {
      flex-direction: column;
      align-items: center;
      text-align: center;

      .bio-image {
        width: 90%;
        margin: 0 auto 1rem;
      }

      .bio {
        padding: 1rem;
        font-size: 0.9rem;

        p,
        ul li {
          font-size: 16px;
        }
      }
    }
  }

  .logo-list {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
  }

  .items {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

// Small Breakpoint
@include respond-to(small) {
  h2.section-title {
    font-size: 1.8rem;
  }

  #header {
    height: 34rem;
    border-bottom: 3px solid cfg.$main-color;
    background-position: 20% 30%;
    position: relative;

    #main-nav {
      display: flex;
      justify-content: center;
    }

    .header-content {
      margin-top: 40%;

      h1 {
        font-size: 2.3rem;
      }
    }
  }

  .process {
    display: block !important;
  }

  #tech-logos {
    display: none;
  }

  .item-text-category {
    font-size: 0.5rem;
  }

  .item-text-title {
    font-size: 1rem;
  }

  .item-text-body {
    font-size: 0.7rem;
  }

  .item .item-text .links-container .link {
    font-size: 0.8rem;
    padding: 7px;
  }

  .logo-list {
    grid-template-columns: repeat(2, 1fr);
  }

  #contact-a div {
    &:last-child {
      display: flex;
      flex-direction: column;
      margin-bottom: 0;
      padding-bottom: 0;
      align-items: center;

      div {
        padding: 9px;
      }
    }
  }

  #contact-c h1 {
    font-size: 2rem;
  }
}

// Extra Small Breakpoint
@include respond-to(extra-small) {
  #header .header-content h1 {
    font-size: 2rem;
  }

  #header #main-nav ul li {
    margin: -3px;
}

  .item-text-category {
    font-size: 0.4rem;
  }

  .item-text-title {
    font-size: 1rem;
  }

  .item-text-body {
    font-size: 0.5rem;
  }

  .item .item-text .links-container .link {
    font-size: 0.8rem;
    padding: 5px;
  }
}
