@media (max-device-width: 1366px) {

  // About
  #about {
    &-a {

      .about-info {
        p {
          font-size: 0.9rem;
        }
      }

    }
  }
}


@media only screen and (max-width: 320px) {
  #header-home #main-nav li {
    padding: 1rem;
  }
}



// Tablets & Smaller
@media (max-width: 800px) {
  #header-home {
    height: 30rem;
    position: relative;

    .header-content {
      padding-top: 5rem;
    }
  }


}

// Smartphones
@media (max-width: 500px) {
  #main-nav {
    display: flex;
    justify-content: center;

    li {
      padding: 1rem;
    }
  }

  #header {
    &-home {
      height: 34rem;
      border-bottom: 3px solid $main-color;
      background-position: 20% 30%;
      position: relative;


      .header-content {
        padding-top: 9rem;

        h1 {
          font-size: 2.3rem;
        }

      }
    }

    &-inner {
      height: 10rem;
    }

    &-inner::before {
      height: 10.1rem;
    }
  }

  // Stack Grid Columns
  #home-a .specials,
  #home-b .stats,
  #home-c .process,
  #contact-b .contact-info,
  .items {
    grid-template-columns: 1fr;
  }

  // Home
  #home {
    &-a {
      .specials div {
        border-bottom: 1px $light-color solid;
        padding-bottom: 1rem;

        &:last-child {
          border: none;
          padding-bottom: 0;
        }
      }
    }

    &-b {
      .stats div {
        padding: 2rem 0 1rem 0;
      }
    }
  }

  // About
  #about {
    &-a {

      .about-info {
        grid-template-areas:
          'bioimage'
          'bio'
          'aw1'
          'aw2'
          'aw3';
      }

    }



    &-c {
      display: none;
    }
  }

  // Contact
  #contact {


    &-a {

      div {
        margin-bottom: 1rem;


        &:last-child {
          display: flex;
          flex-direction: column;
          margin-bottom: 0;
          padding-bottom: 0;

          div {
            padding: 9px;
          }

        }
      }
    }

    &-c {
      h1 {
        font-size: 2rem;
      }
    }
  }

  // Footer
  #main-footer {
    height: 7rem;

    .footer-content {
      flex-direction: column;
      padding: 1rem;
      height: 5rem;
    }
  }
}

// Landscape
@media (max-height: 580px) {
  #header-home {
    .header-content {
      padding-top: 3rem;
    }
  }
}

@media (max-height: 330px) {
  #header-home {
    .header-content {
      h1 {
        font-size: 2rem;
      }
    }
  }
}