@use 'config' as cfg;

// Container
.container {
  max-width: cfg.$website-width;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden;
}

// Buttons
%btn-shared {
  display: inline-block;
  padding: 0.8rem 2rem;
  transition: all 0.5s;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

.btn {
  &-main {
    @extend %btn-shared;
    color: #333;
    background-color: cfg.$main-color;
  }

  &-light {
    @extend %btn-shared;
    color: #333;
    background-color: cfg.$light-color;
    border-radius: 8px;
    font-size: 1.2rem;
  }

  &-dark {
    @extend %btn-shared;
    background-color: cfg.$dark-color;
  }
}

button[class^='btn-']:hover,
a[class^='btn-']:hover,
input[class^='btn-']:hover {
  background-color: cfg.$medium-color;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

// Backgrounds
.bg {
  &-main {
    background: cfg.$bg-primary;
    color: cfg.set-text-color(cfg.$main-color);
  }

  &-dark {
    background: cfg.$dark-color;
    color: cfg.set-text-color(cfg.$dark-color);
  }

  &-light {
    background: cfg.$light-color;
    color: cfg.set-text-color(cfg.$light-color);
  }

  &-medium {
    background: cfg.$medium-color;
    color: cfg.set-text-color(cfg.$medium-color);
  }
}

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.text-center {
  text-align: center;
}

// Padding
.py {
  &-1 {
    padding: 1rem 0;
  }

  &-2 {
    padding: 2rem 0;
  }

  &-3 {
    padding: 3rem 0;
  }

  &-4 {
    padding: 4rem 0;
  }
}

// Margin
.my {
  &-1 {
    margin: 1rem 0;
  }

  &-2 {
    margin: 2rem 0;
  }

  &-3 {
    margin: 3rem 0;
  }

  &-4 {
    margin: 4rem 0;
  }
}

.section-title {
  font-size: 2rem;
  display: block;
  padding-bottom: 0.5rem;
  text-align: center;
  font-weight: 100;
  text-transform: uppercase;
}

.bottom-line {
  height: 2px;
  width: 3rem;
  background: cfg.$main-color;
  display: block;
  margin: 0 auto 1rem auto;
}
