@use 'config' as cfg;
@use 'utilities';
@use 'item_grid';
@use 'media';

// Reset and Global Styles
* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #333;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #555, #111);
  border-radius: 10px;
  border: 2px solid #333;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #777, #222);
}


html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #555 #333;
}


body {
  font-family: 'Dosis', Arial, sans-serif;
  line-height: 1.6;
  background: #fff;
}

a {
  text-decoration: none;
  color: cfg.$dark-color;
}

span {
  font-size: 1.3rem;
}

ul {
  list-style: none;
}

h2,
h3,
h4 {
  text-transform: uppercase;
}

// Header Section
#header {
  background: cfg.$bg-image no-repeat center right / cover;
  height: 100vh;
  color: #fff;

  .container {
    position: relative;
  }

  #main-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    transition: 0.9s;
    background: rgba(0, 0, 0, 0.0);

    &.top {
      background: cfg.$dark-color;
    }

    ul {
      display: flex;
      justify-content: flex-end;

      li {
        padding: 1rem 1.5rem;

        a {
          text-decoration: none;
          color: #fff;
          text-transform: uppercase;
          border-bottom: 3px transparent solid;
          padding-bottom: 0.5rem;
          transition: border-color 0.5s;

          &:hover {
            border-color: cfg.$medium-color;
          }

          &.current {
            border-color: cfg.$main-color;
          }
        }
      }
    }
  }

  .header-content {
    padding-top: 20%;

    h1 {
      font-size: 2rem;
      line-height: 1.2;
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }
}

// About Section
#about {
  .about-info {
    display: flex;
    align-items: stretch;
    gap: 1rem;
    min-height: 380px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15),
      0 6px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;


    .bio-image {
      min-width: 30%;
      height: auto;
      border: 3px solid #b78846;
    }

    .bio {

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: #f9f9f9;
      border-radius: 10px;
      padding: 1.5rem;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      font-family: 'Roboto', Arial, sans-serif;
      color: #333;

      p {
        font-size: 1rem;
        line-height: 1.8;
        margin-bottom: 1rem;
      }

      ul {
        padding: 0;
        margin: 1rem 0;

        li {
          font-size: 0.95rem;
          margin-bottom: 0.5rem;
          position: relative;
          padding-left: 25px;

          &::before {
            content: "✔";
            position: absolute;
            left: 0;
            color: #2a9d8f;
            font-weight: bold;
          }
        }
      }
    }
  }

  blockquote {
    font-style: italic;
    color: #333;
    border-left: 8px solid #2a9d8f;
    padding: 1.5rem 1rem;
    margin: 2rem 0;
    background-color: #f0f8f5;
    border-radius: 10px;
    font-size: 1.2rem;
    line-height: 1.8;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
}

// Logos Section
#tech-logos {
  .logo-list {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 2rem;

    img {
      max-width: 100%;
      height: auto;
      display: block;
      margin: 0 auto;
    }
  }
}

// Professional Qualities Section
#professional-qualities {
  .process {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5rem;

    &-icon {
      border-radius: 50%;
      background: cfg.$dark-color;
      color: cfg.set-text-color(cfg.$dark-color);
      padding: 2rem;
      width: 70px;
      height: 70px;
      line-height: 70px;
      transition: all 1s;

      &:hover {
        background: cfg.$main-color;
        width: 90px;
        height: 90px;
        line-height: 90px;
      }
    }
  }
}

// Contact Section
#contact-a {
  background-color: #eef2f5;
  padding: 3rem 0;

  .container {
    max-width: 1000px;
    margin: 0 auto;
  }

  .contact-info {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    div {
      width: 300px;

      i {
        font-size: 2rem;
        margin-bottom: 0.8rem;

        &.fa-linkedin {
          color: rgb(29, 131, 172);
        }

        &.fa-envelope {
          color: rgb(218, 65, 65);
        }

        &.fa-phone {
          color: rgb(26, 119, 12);
        }
      }

      h3 {
        font-size: 1.25rem;
        color: #2d3748;
        margin-bottom: 0.5rem;
      }

      p {
        font-size: 0.95rem;
        color: #4a5568;

        a {
          color: #2b6cb0;
          font-weight: bold;

          &:hover {
            color: cfg.$dark-color;
          }
        }
      }
    }
  }
}

// Footer Section
#main-footer {
  background-color: cfg.$dark-color;
  color: #fff;
  padding: 1.5rem 0;

  .social a {
    color: #fff;
    margin: 0 10px;
    font-size: 1.2rem;
  }
}